.icon-btn-more {
  display: inline-block;
  padding-top: 4px;
  padding-right: 2px;
  font-size: 7px;
}

.btn-more {
  margin-top: 20px;
}

.btn-navy .icon-btn-navy {
  padding-top: 4px;
}

.btn-navy a {
  border: 1px solid #999999;
}

ul.icon-play li {
  margin-top: 10px;
}

ul.icon-play li i {
  padding-top: 2px;
}

.home-video {
  background-color: #20bde8;
}

.home-user {
  background-color: #f7f7f7;
}

.home-info {
  background-color: #fbe2e0;
}

.home-community {
  background-color: #cde2e2;
}

.home-sns {
  background-color: #d3d1d7;
}

.home-footer {
  background-color: #403e43;
}

.search-sns {
  position: relative;
  margin-top: 25px;
  text-align: right;
}

.search-sns form {
  position: absolute;
  top: 1px;
  right: 125px;
  display: inline;
  width: 200px;
  margin: 0;
}

.search-sns form .form-control {
  display: inline;
  width: 200px;
  height: 36px;
  margin: 0;
  line-height: 36px;
}

.search-sns form i.fa-search {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  color: #777777;
}

.search-sns ul.sns-link {
  display: inline;
  padding-top: 5px;
  margin: 0;
}

.search-sns ul.sns-link li {
  display: inline;
  padding-left: 5px;
  font-size: 36px;
  line-height: 36px;
}

.search-sns ul.sns-link li a {
  color: #777777;
}

.search-sns ul.sns-link li a:hover {
  color: #00aced;
}

.header-nav {
  margin-top: 25px;
}

.header-nav ul.nav-header {
  margin-left: 0;
}

.header-nav ul.nav-header li {
  display: inline;
  padding-right: 25px;
}

.header-nav ul.nav-header li a {
  color: #20bde8;
  text-decoration: none;
}

.header-nav ul.nav-header li a:hover {
  color: #fb6f83;
}

.header-login {
  margin-top: 25px;
  text-align: right;
}

.header-login ul.aside-login li {
  display: inline;
}

.header-login ul.aside-login li a {
  color: #777777;
  text-decoration: none;
}

.header-login ul.aside-login li a:hover {
  color: #00aced;
}

.home-video .section-youtube .youtubeBlock {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-video .section-youtube .youtubeBlock iframe {
  border: 10px solid #4ecbed;
}

@media (max-width: 1199px) {
  .home-video .section-youtube .youtubeBlock {
    width: 380px;
    margin: 40px auto;
  }
}

.home-video .section-download {
  color: #fff;
  text-align: center;
}

.home-video .section-download h1 {
  margin-top: 60px;
  font-size: 24px;
}

.home-video .section-download h1 img {
  max-width: 100%;
}

.home-video .section-download .btn-download {
  margin-top: 20px;
}

.home-video .section-download p {
  margin-top: 20px;
}

.section-book-link {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-book-link a img {
  border: 10px solid #eeeeee;
}

@media (max-width: 1199px) {
  .section-book-link {
    text-align: center;
  }
}

.section-book {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-book h1 {
  padding-bottom: 20px;
  font-size: 24px;
  background: url('../work/images/h1_bg_gray.png') bottom left repeat-x;
}

.section-book p {
  margin-top: 20px;
}

.home-user section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-user section.section-site-editor h1 img {
  background-color: #fda142;
}

.home-user section.section-site-editor ul.icon-play i {
  color: #fda142;
}

.home-user section.section-designer h1 img {
  background-color: #7bbc8f;
}

.home-user section.section-designer ul.icon-play i {
  color: #7bbc8f;
}

.home-user section.section-developer h1 img {
  background-color: #f05951;
}

.home-user section.section-developer ul.icon-play i {
  color: #f05951;
}

.home-user section .nav-home-user {
  margin: 30px 40px;
}

.home-info section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-info section h1 {
  padding-bottom: 20px;
  font-size: 24px;
  color: #7e545f;
  background: url('../work/images/h1_bg_pink.png') bottom left repeat-x;
}

.home-info section p {
  margin-top: 30px;
}

.home-info section.section-info .ccm-page-list {
  margin-top: 30px;
}

.home-info section.section-info .ccm-page-list h3 {
  font-size: 12px;
}

.home-community section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-community section h1 {
  padding-bottom: 20px;
  font-size: 24px;
  background: url('../work/images/h1_bg_gray.png') bottom left repeat-x;
}

.home-community section.section-forum .ccm-page-list {
  margin-top: 30px;
}

.home-community section.section-community p {
  margin-top: 30px;
}

.home-community section.section-community .btn-navy {
  margin-top: 20px;
}

.home-community section.section-community .btn-navy a {
  display: inline-block;
  width: 80%;
}

@media (max-width: 480px) {
  .home-community section.section-community .btn-navy a {
    width: 100%;
  }
}

.home-sns section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-footer {
  color: #fff;
}

.home-footer a {
  color: #fff;
}

.home-footer nav ul.icon-play {
  padding-top: 30px;
  font-size: 12px;
}

.home-footer nav ul.icon-play li i {
  padding-top: 2px;
  font-size: 7px;
}

.home-footer footer {
  margin: 40px 0;
  font-size: 12px;
}